include CONTRIBUTING.md
include LICENSE
include README.md
include SECURITY.md
recursive-include docs *.adoc *.md *.yml
recursive-include src/perp_md/schemas *.json
recursive-include tests *.py *.json
